.Popup {
    height: 200px;
    width: 300px;
    background-color: white;
    position: absolute;
    padding: 30px;
    top: 30%;
    display: none
}

.Overlay{
    background-color: rgba(0, 0, 0, 0.315);
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    display: none
}