@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&family=Raleway');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
$Raleway: Raleway;
$Karla: Karla;
$Lato: Lato;

// Global colors
$darkGrey: #3f4b57;


body {
  font-family: $Raleway;

  
}

.contentContainer {
  max-width: 960px;
  height: 100%;
  text-align: justify;
  width: calc(100% - 48px);
  display: block;
  margin: auto;
  min-height: 1000px;
}